@import "variables.scss";

#page-pricing {
  .pricing-cards {
    display: flex;
    gap: 50px;
    margin: 45px 0 43px 0;

    
    @media (max-width: calc($breakpoint * 2 / 3)) {
      flex-direction: column;;
    }
    
    .pricing-item {
      padding: 24px 1.5rem 64px 1.5rem;
      background-position: center;
      background-size: cover;
      border-radius: 1rem;
      text-align: center;

      &.bg-free {
        background-image: url("../../images/subscribe_1.png");
      }

      &.bg-standard {
        background-image: url("../../images/subscribe_2.png");
      }

      &.bg-premium {
        background-image: url("../../images/subscribe_3.png");
      }

      .price {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;

        p {
          @include all-caps;
        }

        .pricing-value {
          line-height: 1;
        }
      }

      .btn {
        display: block;
        width: 100%;
        padding: 21px 0;
        margin: 40px 0 64px 0;
      }

      h3 {
        margin-bottom: 200px;
        font-size: 24px;
        font-weight: normal;

        @include all-caps;

        @media (max-width: $breakpoint) {
          font-size: 16px;
        }
      }
    }
  }

  p {
    text-align: center;
  }
}